<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>@Ioannidis2005- http---dx.doi.org-10.1371-journal.pmed.0020124 -Ioannidis JPA. Why Most Published.md</key>
			<dict>
				<key>lastModification</key>
				<real>511453358.144633</real>
				<key>version</key>
				<dict>
					<key>ac601c90df5aa1fa4a513e0b29a780d3d7a078850b1263f95fc3f76a91fe8fc5</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>LICENSE.txt</key>
			<dict>
				<key>lastModification</key>
				<real>511453314.74247801</real>
				<key>version</key>
				<dict>
					<key>ac601c90df5aa1fa4a513e0b29a780d3d7a078850b1263f95fc3f76a91fe8fc5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>511453314.74247903</real>
				<key>version</key>
				<dict>
					<key>ac601c90df5aa1fa4a513e0b29a780d3d7a078850b1263f95fc3f76a91fe8fc5</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>@Ioannidis2005- http---dx.doi.org-10.1371-journal.pmed.0020124 -Ioannidis JPA. Why Most Published.md</string>
		</array>
		<array>
			<string>LICENSE.txt</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ac601c90df5aa1fa4a513e0b29a780d3d7a078850b1263f95fc3f76a91fe8fc5</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
